{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  Детали цели
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>{{ goal.title }}</h2>
    {% if goal.image %}
      <img src="{{ goal.image.url }}" alt="{{ goal.title }}" class="img-fluid">
    {% endif %}
    <p>{{ goal.description }}</p>
    <p><strong>Сумма:</strong> {{ goal.get_currency_display }} {{ goal.goal_amount|intcomma }} {{ goal.currency.symbol }}</p>
    <p><strong>Накоплено:</strong> {{ goal.accumulated|intcomma }} {{ goal.currency.symbol }}</p>
    <p><strong>Срок:</strong> {{ goal.term }} месяцев</p>
    <p><strong>Дата постановки:</strong> {{ goal.created_at|date:"d M Y" }}</p>
    <p><strong>Статус:</strong> {% if goal.is_completed %} Достигнута {% else %} В процессе {% endif %}</p>
    <a href="{% url 'goals:goal_transactions_list' goal.id %}" class="btn btn-primary mt-3">История транзакций</a>
    {% if goal.is_completed %}
      <a href="{% url 'goals:archive_goals_delete' goal.id %}" class="btn btn-danger btn-primary mt-3">Удалить</a>
    {% endif %}
  </div>
{% endblock %}