{% extends "base.html" %}

{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}

{% block content %}
<div class="container">
  <!-- Информация о пользователе -->
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5 text-center">Страница пользователя {{ profile }}</h1>
      <small>
        <ul class="list-group list-group-horizontal justify-content-center mb-3">
          <li class="list-group-item text-muted">
            Имя пользователя: 
            {% if profile.get_full_name %}
              {{ profile.get_full_name }}
            {% else %}
              не указано
            {% endif %}
          </li>
          <li class="list-group-item text-muted">
            Регистрация: {{ profile.date_joined|date:"F j, Y" }}
          </li>
        </ul>
        <ul class="list-group list-group-horizontal justify-content-center">
          {% if user.is_authenticated and request.user == profile %}
            <a class="btn btn-sm text-muted" href="{% url 'users:edit_profile' %}">Редактировать профиль</a>
            <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
          {% endif %}
        </ul>
      </small>
      <p>{{ object.bio }}</p>
    </div>
  </div>


  <!-- Виды сбережений -->
  <div class="row mt-4">
    <div class="col-12">
      <h2>Виды сбережений:
        {% if my_capitals %}
          <a href="{% url 'capital:capitals_list' %}" class="btn btn-primary btn-sm">Перейти к сбережениям</a>
        {% endif %}
      </h2>
      {% if my_capitals %}
        {% for capital in my_capitals %}
          <li>{{ capital.capital_type }} {{ capital.currency }}: {{ capital.total_amount }}</li>
        {% endfor %}
      {% else %}
        <p>У вас пока нет сбережений.</p>
      {% endif %}
      </ul>
    </div>
  </div>

    <!-- Мои цели -->
  <div class="row">
    <div class="col-12">
      <h2>Мои цели 
        {% if recent_goals %}
          <a href="{% url 'goals:goals_list' %}" class="btn btn-primary btn-sm">Перейти к целям</a>
        {% endif %}
      </h2>
      {% if recent_goals %}
        <ul class="list-group">
          {% for goal in recent_goals %}
            {% if not goal.is_completed %}
              <li class="list-group-item">
                <a href="{% url 'goals:detail_goal' goal.id %}">{{ goal.title }}</a> : 
                <small>Дата постановки цели - {{ goal.created_at|date:"d M Y" }}</small>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>У вас пока нет поставленных целей.</p>
      {% endif %}
    </div>
  </div>


  <!-- История транзакций -->
  <div class="row mt-4">
    <div class="col-12">
      <h2>История операций:</h2>
      <h3>Целевые транзакции:</h3>
      <ul>
        {% for transaction in goal_transactions %}
          <li>{{ transaction.date }}: {{ transaction.amount }} - {{ transaction.description }}</li>
        {% endfor %}
      </ul>
      <h3>Транзакции сбережений:</h3>
      <ul>
        {% for transaction in saving_transactions %}
          <li>{{ transaction.date }}: {{ transaction.amount }} - {{ transaction.description }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
